
<%= form_with(model: [ @diary, @diary.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :calorie %><br>
    <%= form.text_field :calorie %>
  </p>
  <p>
    <%= form.label :time %><br>
    <%= form.text_area :time %>
  </p>

  <p>
    <%= form.label :day %><br>
    <%= form.text_area :day %>
  </p>

  <p>
    <%= form.label :bld %><br>
    <%= form.text_area :bld %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>