<div class="navbar">
  <a href="#home">1</a>
  <a href="#news">2</a>
  <a href="#contact">3</a>
</div>

<div class="row">
  <div class="column side"></div>
  <div class="column middle">  
<br>
<br>
<br>

<h1>fooddiary</h1>
<div class="bg-text"><%= image_tag 'd.jpg' %></div>
<table>
<%= link_to '새일기', new_diary_path %>
  <tr>
    <th colspan="2"></th>
  </tr>
 
  <% @diaries.each do |diary| %>
    <tr>
      <td><%= diary.foodname %></td> 
      <td><img class="img" src="<%= diary.image.url %>"></td>
      <td><%= link_to 'Show', diary_path(diary) %></td>
      <td><%= link_to 'Edit', edit_diary_path(diary) %></td>
      <td><%= link_to 'Destroy', diary_path(diary),
              method: :delete,
              data: { confirm: '삭제?' } %></td>
    </tr>
   </div>
    <% end %>
    <div class="column side"></div>
</table>

<%= render 'form' %>

