<%= render 'bar' %>

<div class="bg-text"><%= render 'form' %></div>


<div class="tb">
<p>
  <strong><%= @diary.foodname %></strong>
</p>
 
<p>

  <%= @diary.image %>
</p>


<% @diary.comments.each do |comment| %>
 <p>
  <strong>calorie:</strong>
  <%= comment.calorie %>
</p>

<p>
  <strong>날짜:</strong>
  <%= comment.day %>
</p>

<p>
  <strong>먹은시간:</strong>
  <%= comment.time %>
</p>
 
<p>
  <strong>아침,점심,저녁:</strong>
  <%= comment.bld %>
</p>
<% end %>
 

<%= form_with(model: [ @diary, @diary.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :calorie %><br>
    <%= form.text_field :calorie %>
  </p>
  <p>
    <%= form.label :time %><br>
    <%= form.text_area :time %>
  </p>

  <p>
    <%= form.label :day %><br>
    <%= form.text_area :day %>
  </p>

  <p>
    <%= form.label :bld %><br>
    <%= form.text_area :bld %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<iframe height="500px" src="https://gc201535615.mybluemix.net/">
  <p>이미지 인식</p>
</iframe>
<br>
<%= link_to 'Edit', edit_diary_path(@diary) %> |
<%= link_to 'Back', diaries_path %>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<%= render 'footer' %>