
<p>
  <strong>foodname:</strong>
  <%= @diary.foodname %>
</p>
 
<p>
  <strong>foodp:</strong>
  <%= @diary.image %>
</p>

<%= render @diary.comments %>


<%= render 'comments/form' %>


<%= link_to 'Edit', edit_diary_path(@diary) %> |
<%= link_to 'Back', diaries_path %>