<%= render 'bar' %>

<div class="bg-text"><%= render 'form' %></div>


<div class="tb">
<p>
  <strong>foodname:</strong>
  <%= @diary.foodname %>
</p>
 
<p>
  <strong>foodp:</strong>
  <%= @diary.image %>
</p>


<% @diary.comments.each do |comment| %>
 <p>
  <strong>calorie:</strong>
  <%= comment.calorie %>
</p>
 
<p>
  <strong>time:</strong>
  <%= comment.time %>
</p>
 
 <p>
  <strong>day:</strong>
  <%= comment.day %>
</p>

<p>
  <strong>bld:</strong>
  <%= comment.bld %>
</p>
<% end %>
 

<%= form_with(model: [ @diary, @diary.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :calorie %><br>
    <%= form.text_field :calorie %>
  </p>
  <p>
    <%= form.label :time %><br>
    <%= form.text_area :time %>
  </p>

  <p>
    <%= form.label :day %><br>
    <%= form.text_area :day %>
  </p>

  <p>
    <%= form.label :bld %><br>
    <%= form.text_area :bld %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<iframe src="https://dataplatform.cloud.ibm.com/studio/watson-vision-combined/food/view?service_guid=crn:v1:bluemix:public:watson-vision-combined:us-south:a/29de3b01012194a4fc4e1bb3b0c2370f:6826efee-5c95-44a7-866b-1149900b7092::&project_id=107800a6-e67f-427e-ade7-9a61fbf511e4">
  <p>이미지 인식</p>
</iframe>
<br>
<%= link_to 'Edit', edit_diary_path(@diary) %> |
<%= link_to 'Back', diaries_path %>
</div>

<%= render 'footer' %>